*
{
	padding: 0;
	margin: 0;
	color: inherit;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body header
{
	/*background-color: #ddd;*/
	/*background-color: #F5F5F5;*/
	font-family: Lato;
	font-size: 14px;
}


/****** TOP BAR ******/
hgroup#hgroupTopBar div
{
	width: 20%;
	height: 5px;
	float: left;
}

hgroup#hgroupTopBar div:nth-child(1)
{
	background-color: #CD6839;
}
hgroup#hgroupTopBar div:nth-child(2)
{
	background-color: yellowgreen;
}
hgroup#hgroupTopBar div:nth-child(3)
{
	background-color: tomato;
}
hgroup#hgroupTopBar div:nth-child(4)
{
	background-color: skyblue;
}
hgroup#hgroupTopBar div:nth-child(5)
{
	background-color: #20B2AA;
}


/****** SECTION FIRST PAGE ******/

section#section-first-page
{
	background-image: url(../images/bg1.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;

	min-height: 800px;
}


/****** HEADER ******/
header
{
	padding-top: 30px;
	padding-bottom: 30px;
}

hgroup#header-content
{
	width: 90%;
	/*background-color: tomato;*/
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

hgroup#header-content img
{
	float: left;
}

hgroup#header-hgroup-info
{
	padding-left: 20px;
	display: inline-block;
	/*background-color: skyblue;*/
	margin-top: 30px;
}

span#h2Headline
{
	color: #777777;
	font-size: 20px;
	background-color: rgba(255, 255, 255, .3);
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px)
{
	span#h2Headline
	{
		color: #333333;
		font-size: 14px;
		background-color: rgba(255, 255, 255, .5);
	}
}


/****** SLOGAN ******/
hgroup#hgroup-slogan
{
	width: 70%;
	/*background-color: yellowgreen;*/
	/*height: 100px;*/
	margin-left: auto;
	margin-right: auto;

	font-size: 20px;
	font-family: 'Noto sans', sans-serif;
	text-align: center;
	text-shadow: rgba(100, 100, 100, .5) 1px 1px 2px;

	color: #333333;
}

p#p-slogan span
{
	display: inline-block;
}


span#span-hi,
span#span-entrepreneur,
span#span-web-dev,
span#span-founder,
span#span-ux,
span#span-ui,
span#span-apps,
span#span-contact
{
	/*background-color: yellowgreen;*/
	background-color: rgba(154, 205, 50, .5);
	margin: 1px;
	padding: 0px 5px 0px 5px;
}

span#span-contact a
{
	text-decoration: none;
}

span#span-contact { font-weight: bold; }

.fontSize10 { font-size: 10px; }
.fontSize20 { font-size: 20px; }
.fontSize30 { font-size: 30px; }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{
	.fontSize30 { font-size: 20px; }
}

.fontSize40 { font-size: 40px; }
.fontSize50 { font-size: 50px; }
.fontSize60 { font-size: 60px; }

/*** 3D PERSPECTIVE ***/
hgroup#hgroup-slogan.threeD
{
	-webkit-perspective: 1000px;
}

hgroup#hgroup-slogan.threeD p#p-slogan span
{
	-webkit-transform-style: preserve-3d;
}

hgroup#hgroup-slogan.threeD span#span-hi
{
	-webkit-transform: rotateY(60deg);
}

hgroup#hgroup-slogan.threeD span#span-name
{
	-webkit-transform: rotateY(-25deg) translateX(-50px);
}

hgroup#hgroup-slogan.threeD span#span-web-dev
{
	-webkit-transform: rotateY(30deg) translateX(-60px);
}

hgroup#hgroup-slogan.threeD span#span-founder
{
	-webkit-transform: rotateY(-25deg) translateX(-50px);
}



div#div-cube
{
	display: none;

	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(30deg) rotateY(30deg) rotateZ(30deg);
}

.FACE
{
	height: 100px;
	width: 100px;

	position: absolute;
	left: 365px;
	top: 215px;
	background-color: pink;
}

.FACE.im1 { -webkit-transform: translateZ(50px); }
.FACE.im2 { -webkit-transform: translateZ(-50px); }
.FACE.im3 { -webkit-transform: translateX(50px) rotateY(90deg);}
.FACE.im4 { -webkit-transform: translateX(-50px) rotateY(-90deg);}
.FACE.im5 { -webkit-transform: translateY(50px) rotateX(90deg);}
.FACE.im6 { -webkit-transform: translateY(-50px) rotateX(-90deg);}



/****** SECTION - front menu ******/
nav#nav-front-menu
{
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
	color: #ffffff;

	padding-top: 50px;
	height: 200px;

	/*background-color: #dddddd;*/
	/*background-image: url(../images/trame.png);*/
}

/*header { background-color: tomato !important;}*/

nav#nav-front-menu ul
{
	width: 400px;
	list-style-type: none;

	margin-left: auto;
	margin-right: auto;

	/*background-color: greenyellow;*/
}

nav#nav-front-menu ul a
{
	float: left;
	/*width: 32%;*/
	width: 120px;
	height: 120px;
	line-height: 120px;

	text-align: center;
	text-decoration: none;

	margin-right: 1px;

	text-shadow: rgba(0, 0, 0, .7) 0px 0px 9px;
	box-shadow: rgba(0,0,0,.5) 0px 0px 10px;

	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;

	/* Prevent background color leak outs */
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;

	-webkit-transition-duration: 200ms;
	-webkit-transition-property: background, scale, rotate;
	-webkit-transition-timing-function: ease-in;
}


@media only screen and (max-width: 320px), only screen and (max-device-width: 320px)
{
	nav#nav-front-menu ul
	{
		padding-left: 5px;
	}

	nav#nav-front-menu ul a
	{
		width: 100px;
		height: 100px;
		line-height: 100px;
	}
}


nav#nav-front-menu ul a#a-about /*li#li-about*/
{
	margin-left: 20px;
	margin-right: -15px;
	background-color: rgba(154, 205, 50, .5);
}
nav#nav-front-menu ul a#a-works /*li#li-works*/
{
	margin-right: -15px;
	background-color: rgba(255, 100, 0, .5);
}
nav#nav-front-menu ul a#a-contact /*li#li-contact*/
{
	background-color: rgba(0, 150, 255, .5);
}


nav#nav-front-menu ul a#a-about:hover /*li#li-about:hover*/
{
	background-color: rgba(154, 205, 50, .7) !important;
	-webkit-transform: rotate(10deg) scale(1.2);
}
nav#nav-front-menu ul a#a-works:hover /* li#li-works:hover*/
{
	background-color: rgba(255, 100, 0, .7) !important;
	-webkit-transform: rotate(-10deg) scale(1.2);
}
nav#nav-front-menu ul a#a-contact:hover /* li#li-contact:hover*/
{
	background-color: rgba(0, 150, 255, .7) !important;
	-webkit-transform: rotate(10deg) scale(1.2);
}

/****** SECTION - main content ******/
section#section-main-content, #section-contact
{
	font-family: 'Noto sans', sans-serif;
	font-size: 18px;
}

/****** SECTION - About me ******/
section#section-about
{
	/*background-color: #20B2AA;*/
	width: 90%;
	margin: 0 auto;
	padding: 50px 0px 100px 0px;
}

section#section-about #img-big-logo
{
	float: left;
	margin-right: 50px;
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px)
{
	section#section-about #img-big-logo
	{
		display: none;
	}
}

section#section-about #div-about
{
	margin-top: 50px;
	/*background-color: tomato;*/
}

section#section-about h1
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4em;
	margin-left: 30px;

	-webkit-text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
	-moz-text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
}

section#section-about p#p-about
{
	padding: 30px 30px 30px 30px;
	line-height: 30px;
	text-align: justify;
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px)
{
	section#section-about p#p-about
	{
		padding: 30px 0px 0px 0px;
	}

	section#section-about h1
	{
		font-size: 3em;
		margin-left: 0px;
	}
}


/**** SECTION - Skills ****/
section#section-skills
{
	/*height: 1000px;*/
}

div#div-skills-viz
{
	background-image: url(../images/trame.png);
	background-color: #222222;
	background-position: top center;
}

/*.progress-meter
{
	-webkit-transition-duration: 1000ms;
	-webkit-transition-property: translate;
	-webkit-transition-timing-function: ease-in;
}*/

/*.skill-1
{
	-webkit-transform: translate(250px, 100px);
}
.skill-2
{
	-webkit-transform: translate(250px, 220px);
}
.skill-3
{
	-webkit-transform: translate(250px, 340px);
}
.skill-4
{
	-webkit-transform: translate(250px, 460px);
}*/

.skill-1 .background
{
	fill: rgba(217, 77, 77, .25);
}
.skill-1 .foreground
{
	fill: rgb(217, 77, 77);
}

.skill-2 .background
{
	fill: rgba(235, 165, 56, .25);
}
.skill-2 .foreground
{
	fill: rgb(235, 165, 56);
}

.skill-3 .background
{
	fill: rgba(135, 171, 102, .25);
}
.skill-3 .foreground
{
	fill: rgb(135, 171, 102);
}

.skill-4 .background
{
	fill: rgba(75, 179, 210, .25);
}
.skill-4 .foreground
{
	fill: rgb(75, 179, 210);
}



.skill-graphic /*text*/
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}


#div-skills
{
	background-color: #222222;
	padding: 50px;
}

#div-skills h1
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4em;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 50px;
}

#ul-skills
{
	list-style-type: none;
}

#ul-skills li
{
	margin: 10px 0px 10px 0px;
	display: inline-block;
}

.skill-svg
{
	float: left;
	margin-right: 20px;
}

.skill-content
{
	float: none;
}

.skill-title
{
	font-family: 'Noto sans', sans-serif;
	font-size: 25px;
	color: #ffffff;
}

.skill-details-container
{
	margin-left: 120px;
	/*width: 500px;*/
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px)
{
	.skill-details-container
	{
		margin-left: 0px;
	}
}

.skill-detail
{
	display: inline-block;

	padding: 2px 4px 2px 4px;
	margin: 2px;

	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;

	background-color: rgba(255, 255, 255, .1);
	color: #777777;
}

/**** SECTION - my works ****/
section#section-works
{
	/*height: 500px;*/
}


#div-works
{
	list-style-type: none;
	/*background-color: #FF8022;*/
	padding: 50px;

	min-height: 800px;

	background-color: rgba(135,171,102, .9);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(135,171,102,.5) 35px, rgba(135,171,102,.5) 70px);
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px)
{
	#div-works
	{
		padding: 50px 0px 50px 0px;
	}

	#div-works h1
	{
		margin-left: 50px;
	}
}

#div-works h1
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4em;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 50px;
}

#div-works-container
{
	min-height: 50px;
}

#div-works-filters
{
	margin: 0px 20px 0px 0px;
	min-height: 50px;
	/*float: left;*/
}

#div-works-info
{
	float: left;
	margin: 0px 20px 0px 0px;
}

#div-works-controls
{
	/*display: inline-block;*/
}

#span-work-category-name
{
	color: #eeeeee;
}

#div-works-filters .tag, #buttonDiaporama
{
	border: none;

	font-family: 'Noto sans', sans-serif;
	font-size: 18px;

	display: inline-block;

	padding: 2px 8px 2px 8px;
	margin: 2px;

	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;

	background-color: rgba(0, 0, 0, .1);
	color: #eeeeee;

	cursor: pointer;
}

#div-works-filters .tag.active
{
	background-color: rgba(0, 0, 0, .3);
}

#div-reveal-viewport
{
	height: 0px;
/*	transition: height 500ms;
	-webkit-transition: height 500ms;*/
}

#div-reveal-viewport.open
{
	height: 700px;
}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{
	#div-reveal-viewport.open
	{
		height: 320px;
	}
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px)
{
	#div-reveal-viewport.open
	{
		height: 480px;
	}
}


#buttonCloseDiapo
{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	z-index: 10;

	border: none;
	background-image: url(../images/closeDiapo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
}



/***** Contact me *****/

#section-contact
{
	min-height: 600px;
	background-color: rgba(23,163,177, .5);
	background-image: repeating-linear-gradient(
		45deg, transparent, transparent 35px,
		rgba(23,163,177,.1) 35px,
		rgba(23,163,177,.1) 70px);
}

#section-contact h1
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4em;
	margin-left: 30px;
	margin-bottom: 50px;
	color: #ffffff;
}

#div-contact-me
{
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	padding-top: 50px;
	font-family: 'Noto sans', sans-serif;

	text-align: center;
}


.article-contact
{
	float: left;
	margin-left: 30px;
}

#div-contact-me a
{
	text-decoration: none;
	color: darkslateblue;
	font-weight: bold;
}


.h-spacer
{
	height: 50px;
}
